<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="over" class="app-sidenav">
    <mat-toolbar color="primary">
      <!--future svg to go here-->
      <span class="toolbar-filler"></span>
      <button mat-icon-button (click)="sidenav.toggle()" class="mat-icon-button sidenav-toggle-button" [hidden]="!sidenav.opened">
        <mat-icon aria-label="Menu" class="material-icons">close</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item class="sidenav-link" [routerLink]="['/comp1']" (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>account_balance</mat-icon>
        <span class="title" mat-line>comp1</span>
        <span mat-line class="secondary">test</span>
      </a>
      <a mat-list-item class="sidenav-link" [routerLink]="['/comp2']" (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>android</mat-icon>
        <span class="title" mat-line>comp2</span>
        <span mat-line class="secondary">test</span>
      </a>
      <a mat-list-item class="sidenav-link" [routerLink]="['/fullscreen1']" (click)="sidenav.toggle()">
        <mat-icon mat-list-icon><i class="material-icons">panorama_wide_angle</i></mat-icon>
        <span class="title" mat-line>fullscreen1</span>
        <span mat-line class="secondary">fullscreen1</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-toolbar id="appToolbar" [ngClass]="{'toolbar-fullscreen': toolbarShow}" color="primary">
    <button mat-icon-button (click)="sidenav.toggle()" class="mat-icon-button sidenav-toggle-button" [hidden]="sidenav.opened">
      <mat-icon aria-label="Menu" class="material-icons">menu</mat-icon>
    </button>
    <h1 class="component-title">
      <a class="title-link">{{title}}</a>
    </h1>
    <span class="toolbar-filler"></span>
    <!--<button id="button-login" mat-button [routerLink]="['/signupin']" *ngIf="!(user | async)">Log In</button>-->
    <button id="button-logout" mat-button>Log Out {{ toolbarShow }} {{ pathRoute }}</button>
  </mat-toolbar>
  <router-outlet></router-outlet>
</mat-sidenav-container>
